<div class="card-grid">
  <% @meetings.each do |meeting| %>
    <div class="card">
      <header class="card-header">
        <h2>Meeting Title</h2>
      </header>
      <div class="card-content">
        <div class="row">
          <div class="col-3">
            <li class="card-content-item"><i class="fas fa-calendar-alt"></i></li>
          </div>
          <div class="col-9">
            <li class="card-content-item"><%= meeting.expected_start_date.strftime("%H:%M %d/%m/%y") %></li>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <li class="card-content-item"><i class="fas fa-calendar-check"></i></li>
          </div>
          <div class="col-9">
            <li class="card-content-item"><%= meeting.expected_end_date.strftime("%H:%M %d/%m/%y") %></li>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <li class="card-content-item"><i class="fas fa-stopwatch"></i></li>
          </div>
          <div class="col-9">
            <li class="card-content-item"><%= meeting.expected_duration %> minutes</li>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <ul class="card-footer-nav">
          <li class="card-footer-item"><i class="fas fa-user"></i></li>
          <li class="card-footer-item"><i class="fas fa-user"></i></li>
          <li class="card-footer-item"><i class="fas fa-user"></i></li>
          <li class="card-footer-item"><i class="fas fa-user"></i></li>
        </ul>
      </footer>
    </div>
  <% end %>
