// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$our-purple: #4e054b;
$gradient-light-purple: #cc0099;
$gradient-dark-purple: #660033;
$gradient-purple: linear-gradient(200deg, rgba($gradient-light-purple, .15), rgba($gradient-dark-purple, 0));
