
h4 {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .1rem rgba($color: #000000, $alpha: 0.8);
}

h1 {
  font-size: 3rem;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .1rem rgba($color: #000000, $alpha: 0.8);
}

.btn-home {
  background-color: rgba($color: #b1aeae, $alpha: 0.4);
  color: rgb(95, 95, 95);
  box-shadow:  .1rem .1rem .1rem rgba($color: #000000, $alpha: 0.8);
  border-radius: 5px;
    &:hover {
      background-color: #2e2e2e;
      color: white;
    }
}
