.show-page-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8rem;
  max-width: 1000px;
  margin: auto;
}

@media (min-width: 500px) {
  .show-page-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
