<div class="landing home-banner">
  <div class="container d-flex">
    <div class="row" style="margin-top:60px">

        <div class="content col-xl-7 col-sm-12 text-center text-uppercase text-light">
          <h1 style="margin-bottom:15px;">Efficiency is key</h1>
          <h4>Give your business a boost <br> with better planed and executed meetings</h4>
          <br>
          <br>
          <br>

          <%= link_to "TRY IT", new_user_session_path, class: "nav-link button" %>

          <br>
          <br>
        </div>

        <div class="phone col-xl-5 col-sm-12">
          <%= image_tag "Phone_tilted_cut.png", width: "65%",  style: "display:block; margin:0 auto;" %>
        </div>

    </div>
  </div>
</div>

<div class="home-button">
</div>

<div class="container">
  <div class="motto-wrap">
    <div class="heading-jumbo-small">Same time, save money.</div>
  </div>
  <div class="divider"></div>
    <div class="home-content-wrap">
      <div class="label cc-light">How to use</div>
      <h2 class="section-heading">
  </div>
</div>
