.home-banner {
  background-image: linear-gradient(135deg, #4b0125, #9c0276);
  background-size: cover;
  height: 120vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
