.meeting-card {
  background: white;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    background-color: $our-purple;
    color: white;
    border-radius: 5px;
      &:hover {
        background-color: #69224c;
        color: white;
      }
  }
}

.card-remove-link {
  color: $red;
  // position: relative;
  // left: 385px;
  // bottom: 25px;
  opacity: 0.8;
  text-decoration: none;
  font-weight: bolder;
  &:hover {
    color: $gradient-light-purple;
    opacity: 1;
  }
}
