.meetings-css {
  background: white;
  padding: 5px 10px;
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.meeting-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}
