.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  // box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // background-image: linear-gradient(135deg, #660033, #cc0099);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
